@model WebApp.Models.TransactionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Step)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldBalanceOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldBalanceOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewBalanceOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewBalanceOrg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldBalanceDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldBalanceDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewBalanceDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewBalanceDest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFraud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFraud)
        </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
