@model List<WebApp.Models.TransactionViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<p>
    @if (User.IsInRole(WebApp.Models.RoleTypes.Assistant) || User.IsInRole(WebApp.Models.RoleTypes.Administrator))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
@using (Html.BeginForm("Index", "Transaction", FormMethod.Get))
{
    <p>
        @if (User.IsInRole(WebApp.Models.RoleTypes.Administrator) || User.IsInRole(WebApp.Models.RoleTypes.Manager))
        {
            @:Find by: <br />
            @:IsFraud?
            @Html.CheckBox("IsFraud"); @:<br />
            @:NameDest:
            @Html.TextBox("NameDest", ViewBag.CurrentFilter as string); @:<br />
            @:<input type="submit" value="Search" />
        }
        

        
    </p>
}
<table class="table">
    <tr>
        <th>
            Step
        </th>
        <th>
            Type
        </th>

        <th>
           Amount
        </th>
        <th>
            Name Origin
        </th>
        <th>
            Old Balance Org
        </th>
        <th>
            New Balance Orig
        </th>
        <th>
            Name Dest
        </th>
        <th>
            Old Balance Dest
        </th>
        <th>
            New Balance Dest
        </th>
        <th>
            Is Fraud?
        </th>
        <th>
            Is Flagged as Fraud?
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldBalanceOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewBalanceOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldBalanceDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewBalanceDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFraud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFlaggedFraud)
            </td>
            <td>
                @if (User.IsInRole(WebApp.Models.RoleTypes.Administrator) || User.IsInRole(WebApp.Models.RoleTypes.Superintendent))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                }
               
               
            </td>
        </tr>
    }

</table>
<br />